
/* NAVIGATION BAR STYLING STARTS */
#navbar {
  position: relative;
  max-width: 1200px;
  margin: 20px auto;
  padding: 7.5px;
  background: rgb(1 47 87 / 80%);
  color: #fff;
  box-sizing: border-box;
  border-radius: 4px;
  box-shadow: 0 3px 5px rgb(221, 220, 220);
}

.logo {
  display: flex;
  align-items: center;
  font-size: 1.8rem;
  box-sizing: border-box;
  float: left;
}

.s{
  font-family: 'Poppins', sans-serif;
  font-size: 26px;
  text-align: center;
  box-sizing: border-box;
  margin-top: 11px;
  color: #000000;
}
.b{
  font-family: 'Poppins', sans-serif;
  font-size: 26px;
  text-align: center;
  box-sizing: border-box;
  margin-top: 11px;
  color: rgb(255 187 0);
}

.logo img {
  width: 35px;
  height: 40px;
  margin-top: 4px;
}

nav {
  float: right;
}

nav ul {
  margin: 0;
  padding: 0;
  display: flex;
}

nav ul li {
  list-style: none;
}

nav ul li a {
  display: block;
  margin: 10px 0;
  padding: 10px 20px;
  text-decoration: none;
  color: rgb(255, 255, 255);
  text-transform: uppercase;
}

nav ul li a:hover {
  text-decoration: none;
  background: rgb(255 187 0);
  color: #000000;
  transition: 0.5s;
  border-radius: 2.5px;
}

@media (max-width: 768px) {
  .menutoggle {
    display: block;
    width: 30px;
    height: 30px;
    margin: 10px;
    background: rgb(211, 211, 211);
    float: right;
    cursor: pointer;
    text-align: center;
    font-size: 20px;
    color: #000000;
  }
  .menutoggle:before {
    content: '\f0c9';
    font-family: fontAwesome;
    line-height: 30px;
  }
  .menutoggle.active:before {
    content: '\f00d';
  }
  nav {
    display: none;
    transition: 0.3s;
  }
  nav.active {
    display: block;
    width:100%;
  }
  nav.active ul{
    display: block;
    }
}
.fixed {
  clear: both;
}
/* NAVIGATION BAR STYLING ENDS */


@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap");
:root {
  --color-white: #ffffff;
  --color-darkred: #590219;
  --color-darkgreen: rgb(1 47 87 / 80%);
  --color-green: #37af65;
}

*, *::before, *::after {
=======
:root {
  --ff-sans: "Josefin Sans", sans-serif;
  --fw-normal: 400;
  --fw-semi: 600;
  --fw-bold: 700;
  --base-font: 1.6rem;
  --clr-page-bg: hsl(235, 21%, 11%);
  --clr-modal-bg-1: hsla(0, 0%, 0%, 0.5);
  --clr-modal-bg-2: hsl(216, 28%, 7%);
  --clr-modal-bg-3: hsl(144, 10%, 10%);
  --clr-blue-1: hsla(243, 100%, 69%, 0.548);
  --clr-blue-2: hsl(220, 98%, 61%);
  --clr-heading: hsl(350, 79%, 79%);
  --clr-switcher-bg: hsl(350, 36%, 55%);
  --clr-switcher-border: hsl(350, 79%, 82%);
  --clr-switch-bg: hsl(340, 75%, 57%);
  --clr-btn-bg: hsl(340, 75%, 60%);
  --clr-text-1: hsl(0, 0%, 98%);
  --clr-text-2: hsl(210, 17%, 82%);
  --clr-white: hsl(0, 0%, 100%);
  --clr-light: hsl(213, 11%, 84%);
  --clr-alert: hsl(353, 66%, 45%);
  --clr-success: hsl(167, 78%, 40%);
  --clr-border: hsl(240, 1%, 36%);
}

/* light theme colors */

body.light {
  --clr-page-bg: hsl(0, 0%, 98%);
  --clr-border: hsl(214, 13%, 90%);
  --clr-switcher-bg: transparent;
  --clr-switcher-border: hsl(213, 11%, 84%);
  --clr-switch-bg: hsl(235, 21%, 9%);
  --clr-text-1: hsl(0, 0%, 20%);
  --clr-text-2: hsl(210, 12%, 16%);
  --clr-modal-bg-2: hsl(0, 0%, 100%);
  --clr-modal-bg-3: hsl(210, 29%, 97%);
  --clr-heading: hsl(0, 0%, 30%);
  --clr-btn-bg: hsl(151, 71%, 44%);
}

/* resets */

*,
*::after,
*::before {
  margin: 0;
  padding: 0;

  box-sizing: border-box;
}

html {
  font-size: 62.5%;
}

html,
body {
  min-height: 100%;
}


/* mobile friendly alternative to using background-attachment: fixed */

body::before {
  content: "";
  position: fixed;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  z-index: -1;
=======
img {
  user-select: none;
}

/* body style */

body {
  font: var(--fw-normal) var(--base-font) var(--ff-sans);
  background-size: cover;
  width: 90%;
  margin: auto;
  padding-top: 5rem;
  background-color: var(--clr-page-bg);
}

/* input and button resets */

input,
button {
  font: inherit;
  border: 0;
  color: inherit;
  background: transparent;
}

button {
  display: flex;
  cursor: pointer;
}


h1, p {
  margin-top: 0;
  margin-bottom: 0.5rem;
=======
input:focus,
button:focus {
  outline: 0;

}

button:active {
  transform: scale(0.95);
}

/* start page - absolute */

.start {
  position: absolute;
  display: flex;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  transition: opacity 0.4s ease;
}

input, button, select {
  margin: 0;
  font-family: inherit;
  font-size: inherit;
  line-height: inherit;
=======
/* svg container */

.svg {
  width: min(85%, 30rem);
  height: 30rem;
  display: flex;
  transform: scale(0.6);
  transition: transform 0.6s ease;

}

.svg.load {
  transform: scale(1);
}

/* svg img inside container */

.svg img {
  width: 100%;
  margin: auto;
}

/* load bar */

.load-bar {
  width: min(85%, 30rem);
  height: 1rem;
  margin-top: 7rem;
  background-color: var(--clr-blue-1);
  border-radius: 0.8rem;
  position: relative;
}

/* load-bar loading */

.load-bar::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  right: 100%;
  bottom: 0;
  border-radius: inherit;
  background-color: var(--clr-blue-2);
  animation: load-bar 1.5s forwards ease-in-out 0.3s;
}

/* loading bar animation */

@keyframes load-bar {
  100% {
    right: 0;
  }
}

/* hide the start page (from js) */

.start.hide {
  opacity: 0;
  pointer-events: none;
}

/* header */

header {
  display: flex;
  justify-content: space-between;
}

header img {
  width: 16rem;
}

/* theme-switcher */

.theme-switcher {
  width: 4.2rem;
  height: 2.4rem;
  border-radius: 2.4rem;
  background-color: var(--clr-switcher-bg);
  border: 0.3rem solid var(--clr-switcher-border);
  position: relative;
}

.theme-switcher .switch {
  width: 2.8rem;
  height: 2.8rem;
  position: absolute;
  top: -0.47rem;
  left: -0.45rem;
  border-radius: 50%;
  background-color: var(--clr-switch-bg);
  transform: translateX(2rem);
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  transition: transform 0.5s ease, background-color 0.5s ease;
}

.theme-switcher .switch img {
  width: 1.3rem;
}

/* transform when theme change */

body.light .theme-switcher .switch {
  transform: translateX(0);
}


input[type="radio"], input[type="checkbox"] {
  display: inline-block;
  margin-right: 0.625rem;
  min-height: 1.25rem;
  min-width: 1.25rem;
=======
/* main margin */

main {
  margin: 5rem 0;
}

/* list container  */

main .list {
  border-radius: 0.8rem;
  border: 0.01rem solid var(--clr-border);
  overflow-x: auto;
}

main .list table {
  width: 100%;
  min-width: 55.6rem;
  border-style: hidden;
  border-collapse: collapse;
}

main .list table td {
  padding: 1.8rem;
  color: var(--clr-text-1);
  border: 0.01rem solid var(--clr-border);
}

main .list table th {
  color: var(--clr-heading);
  font-weight: 700;
  text-align: left;
  padding: 1.8rem;
  border: 0.01rem solid var(--clr-border);
}

/* add button (plus button) */

.add-button {
  position: fixed;
  width: 90%;
  bottom: 2rem;
  height: 4rem;
}

.add-button button {
  position: absolute;
  background-color: var(--clr-btn-bg);
  border: 0;
  width: 4rem;
  height: 4rem;
  border-radius: 50%;
  font-size: calc(var(--base-font) * 1.5);
  color: var(--clr-white);
  right: 0;
  cursor: pointer;
  align-items: center;
  justify-content: center;
}

/* modal-container */

.modal-container {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background-color: var(--clr-modal-bg-1);
  color: var(--clr-text-2);
}


.table {
  color: rgb(255, 255, 255);
}
=======
/* modal inside modal-container */

.modal-container .modal {
  width: min(85%, 45rem);
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: var(--clr-modal-bg-2);
  border: 0.01rem solid var(--clr-border);
  border-radius: 0.6rem;
}

/* padding for all elements inside modal */

.modal-container .modal > * {
  padding: 2rem;
}

/* title 'Add book' */

.modal-container .modal .title {
  background-color: var(--clr-modal-bg-3);
  border-top-left-radius: inherit;
  border-top-right-radius: inherit;
  border-bottom: inherit;
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-weight: var(--fw-semi);
}

.modal-container .modal .title button img {
  width: 1.3rem;
}

/* form */

form > * + * {
  margin-top: 2rem;
}

form .form-group {
  display: flex;
  flex-direction: column;
  gap: 1.5rem;
}

form .form-group label {
  font-weight: var(--fw-semi);
}

form .form-group input {
  padding: 1.3rem;
  border: 0.01rem solid var(--clr-border);
  border-radius: 0.4rem;
}

/* Action submit button */

.modal-container .modal .action {
  background-color: var(--clr-modal-bg-3);
  border-bottom-left-radius: inherit;
  border-bottom-right-radius: inherit;
  border-top: inherit;
  display: flex;
  justify-content: flex-end;
  position: relative;
}

.modal-container .modal .action button {
  padding: 1rem 1.8rem;
  background-color: var(--clr-btn-bg);
  border-radius: 0.5rem;
  color: var(--clr-white);
}

/* hide/show using javascript */

/* hide at start */

header,
main,
.modal-container {
  opacity: 0;
  pointer-events: none;
  transition: opacity 0.4s ease;
}

/* open */

.modal-container.open,
header.open,
main.open {
  opacity: 1;
  pointer-events: all;
}

/* alert message */

.message {
  position: absolute;
  right: 0;
  left: 0;
  height: 2.7rem;
  display: flex;
  align-items: center;
  justify-content: center;
  color: var(--clr-white);
  animation: message 1.4s forwards ease;
}

/* success and error */

.success {
  background-color: var(--clr-success);
}

.error {
  background-color: var(--clr-alert);
}

/* Animation for message */

@keyframes message {
  0% {
    top: -2.8rem;
  }
  50% {
    top: 0;
  }
  100% {
    top: -2.8rem;
  }
}

/* Media queries */

@media (max-height: 498px) {
  .modal-container,
  .start {
    bottom: auto;
    height: 500px;
  }
}

@media (max-width: 350px) {
  header img {
    width: 13rem;
  }
}

